<footer class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.imocc.com" class="link" target="_blank">慕课网</a> |
            <a href="https://www.baidu.com" class="link" target="_blank">百度</a> |
            <a href="https://www.taobao.com" class="link" target="_blank">淘宝网</a> |
            <a href="https://www.zhihu.com" class="link" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright
            <i class="fa fa-copyright" aria-hidden="true"></i> 2017 happymmall.com All Right Reserved
        </p>
    </div>
</footer>


<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>